<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

    <div class="logout-container">
        <a href="{{ url_for('logout') }}" class="logout-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
            </svg>
        </a>
    </div>

    <main class="content">
        <div class="container text-center">
            <h1 class="mt-5">Hello Admin, Welcome to your Management Hub</h1>
            <br>
            <h2 class="welcome-text">This is your centralized space to monitor employee performance, upload and manage data,
                and access reports with ease. Navigate seamlessly through insights, update records, and make data-driven decisions efficiently.</h2>
            <hr>

            <div class="row justify-content-center">
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename='/images/illust/dashboard.svg') }}" class="card-img-top" alt="Dashboard">
                        <div class="card-body">
                            <h5 class="card-title">View Dashboard</h5>
                            <p class="card-text">Monitor employee performance metrics and uncover essential HR insights.</p>
                            <a href="{{ url_for('user_dashboard') }}" class="btn btn-primary">Go to Dashboard</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename='/images/illust/fileupload.svg') }}" class="card-img-top" alt="Upload Data">
                        <div class="card-body">
                            <h5 class="card-title">Upload Data</h5>
                            <p class="card-text">Upload employee data, reports, and other files securely.</p>
                            <a href="{{ url_for('upload') }}" class="btn btn-primary">Upload</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename='/images/illust/storedata.svg') }}" class="card-img-top" alt="Settings">
                        <div class="card-body">
                            <h5 class="card-title">Update Records</h5>
                            <p class="card-text">Create and manage historic data, Go Back and Forth in Time</p>
                            <a href="{{ url_for('record') }}" class="btn btn-primary">Go to Records</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename='/images/illust/report.svg') }}" class="card-img-top" alt="Settings">
                        <div class="card-body">
                            <h5 class="card-title">View Reports</h5>
                            <p class="card-text">Create and manage historic data, Go Back and Forth in Time</p>
                             <a href="{{ url_for('user_report') }}" class="btn btn-primary">Go to Reports</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

        </div>
    </main>

    <footer>
        <p>Product By</p>
        <img src="{{ url_for('static', filename='/images/En_logo/en_full_blue.svg') }}" alt="Company Logo" class="footer-logo">
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>